@import "bootstrap/scss/bootstrap-utilities";
@import "bootstrap/scss/bootstrap-reboot";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/type";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom, #333, #000);
}

img,
video,
canvas {
    display: block;
    width: 100%;
    height: auto;
}

video,
canvas {
    border-radius: 20px;
    overflow: hidden;
}

.controls {
    width: 80%;
    margin: 0 auto;

    canvas {
        width: 50%;
        margin: 0 auto 1rem;
        background: #222;
        border: 1px solid #333;
    }
}

.recent-images {
    height: calc(100vh - 3rem);
    overflow: auto;

    img {
        border-radius: 20px;
        overflow: hidden;
    }
}

form {
    border-radius: 20px;
    overflow: hidden;
}
